.Background{
    background: radial-gradient(74.44% 78.1% at 69.79% 50%, rgba(186, 0, 187, 0.42) 0%, #AC02B2 0.01%, #0F1755 100%);
    
  }
  @media screen and (max-width: 2210px) {
    .Background {
        height: 4000px;
    }
  }
  @media screen and (max-width: 1690px) {
    .Background {
        height: 4000px;
    }
  }
  @media screen and (max-width: 1400px) {
    .Background {
        height: 2800px;
    }
  }
  @media screen and (max-width: 1200px) {
    .Background {
        height: 2350px;
    }
  }
  @media screen and (max-width: 900px) {
    .Background {
        height: 1900px;
    }
  }
  @media screen and (max-width: 600px) {
    .Background {
     height: 1400px;
    }
  }
#h1{
font-family: 'Orbitron';
font-style: normal;
font-weight: 53.571vw;
font-size: 3.571vw;
line-height: 4.762vw;
  }
#p{
position: relative;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 1.700vw;
line-height:2.143vw;
color: #FFFFFF;
  }
#button{
    position: relative;
    background: linear-gradient(182.4deg, #611BB5 2.54%, rgba(255, 255, 255, 0) 222.36%);
    width: 9.524vw;
    height: 2.976vw;
    color: #FFFFFF;
}
#h11{
    position: relative;
    color: #FFFFFF;
    font-family: 'Orbitron';
    font-style: normal;
    font-size:3.571vw;
    
}
#h5{
    color: #FFFFFF;
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 23.810vw;
    font-size: 1.429vw;
    line-height: 2.143vw;
}
#card1111111{
    background: linear-gradient(108.03deg, rgba(196, 34, 198, 0.1) 5.25%, rgba(204, 63, 207, 0.2127) 20%, rgba(223, 128, 226, 0.4894) 56.23%, rgba(237, 176, 240, 0.7223) 86.73%, #F6CEF9 109.94%, #F9D9FC 123.1%);
}
#card2222222{
    background: linear-gradient(108.03deg, rgba(196, 34, 198, 0.1) 5.25%, rgba(204, 63, 207, 0.2127) 20%, rgba(223, 128, 226, 0.4894) 56.23%, rgba(237, 176, 240, 0.7223) 86.73%, #F6CEF9 109.94%, #F9D9FC 123.1%);
}
#card3333333 {
    background: linear-gradient(108.03deg, rgba(196, 34, 198, 0.1) 5.25%, rgba(204, 63, 207, 0.2127) 20%, rgba(223, 128, 226, 0.4894) 56.23%, rgba(237, 176, 240, 0.7223) 86.73%, #F6CEF9 109.94%, #F9D9FC 123.1%);
}
#card4444444 {
    background: linear-gradient(108.03deg, rgba(196, 34, 198, 0.1) 5.25%, rgba(204, 63, 207, 0.2127) 20%, rgba(223, 128, 226, 0.4894) 56.23%, rgba(237, 176, 240, 0.7223) 86.73%, #F6CEF9 109.94%, #F9D9FC 123.1%);
}
.reals h1{
    position: relative;
    text-align: center;
    font-size: 1.190vw;

}
.reals p{
    position: relative;
    text-align: center;
    font-size: 1.190vw;
    top: 1.488vw;
}

.nextGen{
    position: relative;
    color: #FFFFFF;
    left: 8.750vw;
    top: 24.583vw;
    text-shadow: 0px 0px 30px #FFF8F8;
    font-size: 3.571vw;

}
.nexttext{
    position: relative;
    color: #FFFFFF;
    left: 8.750vw;
    font-weight: 23.810vw;
    font-size: 1.190vw;
    line-height: 1.786vw;
    top: 22.440vw;  
}
.roket{
    position: relative;
    left: 22.074vw;
    top: 24.679vw;
    width: 7.274vw;
    height: 17.998vw;
}
.aircraft{
    position: relative;
    left: 13vw;
    top: 28.679vw;
    width: 10.609vw;
    height: 8.585vw;

}
.team{
    position: relative;
    text-shadow: 0px 0px 30px #FFF8F8;
    text-align: center;
    color: #FFFFFF;
    font-weight: 53.571vw;
    font-size: 3.571vw;
    line-height: 4.762vw;
    top: 19.762vw;

}
.teamp{
    position: relative;
    text-align: center;
    color: #FFFFFF;
    font-weight: 23.810vw0;
    font-size: 1.190vw;
    line-height: 1.786vw;
    top: 18.048vw;

}
.names{
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 1.190vw;
    text-align: center;
    color: #FFFFFF;
}

.founder{
    position: relative;
    font-size: 0.952vw;
    text-align: center;
    color: #FFFFFF;
}
.emails{
    position: relative;
    font-size: 0.952vw;
    text-align: center;
    color: #FFFFFF;
}
.Avtarimg{
    position: relative;
    width: 11.905vw;
    height: 11.905vw;

}
.arara{
    width: 11.905vw;
    height: 11.905vw;
}
.card1{
    padding-left: 50px;
}

.footer{
    position: relative;
}
