.background{
    background: radial-gradient(74.44% 78.1% at 69.79% 50%, rgba(186, 0, 187, 0.42) 0%, #AC02B2 0.01%, #0F1755 100%);
    height: 3200px;
  }
  @media screen and (max-width: 1680px) {
    .background {
        height: 3000px;
    }
  }
  @media screen and (max-width: 1400px) {
    .background {
        height: 2400px;
    }
  }
  @media screen and (max-width: 1200px) {
    .background {
        height: 2000px;
    }
  }
  @media screen and (max-width: 900px) {
    .background {
        height: 1600px;
    }
  }
  @media screen and (max-width: 750px) {
    .background {
        height: 1400px;
    }
  }
  @media screen and (max-width: 550px) {
    .background {
        height: 1300px;
    }
  }
  @media screen and (max-width: 600px) {
    .background {
        height: 1400px;
    }
  }
#h1{
font-family: 'Orbitron';
font-style: normal;
font-weight: 53.571vw;
font-size: 4.167vw;
line-height: 4.762vw;
  }
#p{
position: relative;
font-family: 'Inter';
font-style: normal;
font-weight: 23.810vw;
font-size: 1.700vw;
line-height: 2.560vw;
color: #FFFFFF;
  }
#button{
    position: relative;
    background: linear-gradient(182.4deg, #611BB5 2.54%, rgba(255, 255, 255, 0) 222.36%);
    width: 9.524vw;
    height: 2.976vw;
    color: #FFFFFF;
}
#h11{
    position: relative;
    color: #FFFFFF;
    font-family: 'Orbitron';
    font-style: normal;
    font-size:3.571vw;
    
}
#h5{
    color: #FFFFFF;
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 23.810vw;
    font-size: 1.429vw;
    line-height: 2.143vw;
}
#card111111{
    background: linear-gradient(108.03deg, rgba(196, 34, 198, 0.1) 5.25%, rgba(204, 63, 207, 0.2127) 20%, rgba(223, 128, 226, 0.4894) 56.23%, rgba(237, 176, 240, 0.7223) 86.73%, #F6CEF9 109.94%, #F9D9FC 123.1%);
}
#card222222{
    background: linear-gradient(108.03deg, rgba(196, 34, 198, 0.1) 5.25%, rgba(204, 63, 207, 0.2127) 20%, rgba(223, 128, 226, 0.4894) 56.23%, rgba(237, 176, 240, 0.7223) 86.73%, #F6CEF9 109.94%, #F9D9FC 123.1%);
}
#card333333 {
    background: linear-gradient(108.03deg, rgba(196, 34, 198, 0.1) 5.25%, rgba(204, 63, 207, 0.2127) 20%, rgba(223, 128, 226, 0.4894) 56.23%, rgba(237, 176, 240, 0.7223) 86.73%, #F6CEF9 109.94%, #F9D9FC 123.1%);
}
#card444444 {
    background: linear-gradient(108.03deg, rgba(196, 34, 198, 0.1) 5.25%, rgba(204, 63, 207, 0.2127) 20%, rgba(223, 128, 226, 0.4894) 56.23%, rgba(237, 176, 240, 0.7223) 86.73%, #F6CEF9 109.94%, #F9D9FC 123.1%);
}
.real h1{
    position: relative;
    text-align: center;
    font-size: 1.190vw;

}
.real p{
    position: relative;
    text-align: center;
    font-size: 1.190vw;
    top: 1.488vw;
}
.lastheading{
    position: relative;
    color: #FFFFFF;
    top: 40vw;
    font-weight: 53.571vw;
    left: 9.643vw;
    text-shadow: 0px 0px 30px #FFF8F8;
    font-size: 3.571vw;

}
.lasttext{
    position: relative;
    top: 40vw;
    color: #FFFFFF;
    font-weight: 23.810vw;
    left: 9.643vw;
    font-size: 1.429vw;
}
.footer{
    position: relative;
}